.ci {
	width: 100%;
	padding: 1rem;
	margin-bottom: 8px;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
	gap: 8px;
	background: #fff;
	border-radius: 2px;
	align-items: center;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.cname {
	text-decoration: none;
	color: #171717;
}
.cname:hover {
	color: palevioletred;
}

.ci select {
	padding: 10px 17px;
}

.ci button button {
	padding: 10px 17px;
	color: red;
	background-color: #f4f4f4;
	cursor: pointer;
	transition: all 0.3s ease-out;
}
.ci button:hover,
.ci button:focus,
.ci button:active{
	background-color: #171717;
	transform: scale(1.2);
}

@media (max-width: 700px) {
	.cname {
		font-size: 0.8rem;
	}
	.ci select,
	.ci button {
		padding: 8px 13px;
	}

	.cprice {
		font-size: 0.6rem;
	}
}
@media (max-width: 500px) {
	.cname {
		font-size: 0.6rem;
	}
	.ci select,
	.ci button {
		padding: 5px 8px;
	}

	.cprice {
		font-size: 0.8rem;
	}
}