.pc {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

@media (max-width: 1500px) {
	.pc {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1150px) {
	.pc {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 765px) {
	.pc {
		grid-template-columns: repeat(1, 1fr);
	}
}